%h1= @job.title
%p= @job.description
%p= @job.company

= link_to "home",root_path
= link_to "edit",edit_job_path(@job)
= link_to "delete",job_path(@job),method: :delete, data: { confirm: "are you sure?"}
